body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button {
    height: 37px;
    padding: 5px;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
}

/*Estilo da navbar*/
nav {
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.inicio {
    color: #8A2AE2;
}

.logo1 {
    width: 250px;
    height: auto;
}

.botlinksnav {
    display: flex;
    gap: 20px;
}

.linksnav {
    text-align: end;
    font-size: 18px;
    display: flex;
    padding-top: 18px;
    gap: 25px;
}

.botoesnav {
    margin-top: 10px;
}

.botent {
    background-color: #953CE4;
    width: 95px;
    font-size: 18px;
}

.botent a {
    color: white;
}

.botcad {
    background-color: white;
    width: 95px;
    font-size: 18px;
}
/*Estilo da navbar*/

hr {
    border: none;
    height: 2px;
    width: 100%;
    background-color: #EFEFEF;
}

/*Estilo do título página*/
.titulo {
    display: flex;
    text-align: left;
    font-size: 35px;
    padding: 0 0 0 45px;
    gap: 10px;
    margin-bottom: -3%;
    margin-top: -2%;
}

.color {
    background-image: linear-gradient(to right, #8A2AE2, #A7BAE2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
/*Estilo do título da página*/

/*Estilo de todo o conteúdo da página*/
.bloco1 {
    display: grid;
    width: 100%;
}

.emailtel {
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    gap: 5%;
}

.email {
    text-align: center;
}

.tel {
    text-align: center;
}

.purple {
    color: #8A2AE2;
}

.disp {
    margin-top: -5%;
}

.perguntas {
    width: 55%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.perguntas h4 {
    margin-bottom: -2%;
}

.perg1 {
    text-align: start;
    background-color: white;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
    padding: 0.30%;
}

.perg2 {
    text-align: start;
    background-color: white;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
    padding: 0.30%;
}

.perg3 {
    text-align: start;
    background-color: white;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
    padding: 0.30%;
}

.perg4 {
    text-align: start;
    background-color: white;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
    padding: 0.30%;
}

.blocos {
    display: flex;
}

.bloco2 {
    margin-left: -40%;
    margin-top: 10%;
}

.form {
    background-color: white;
    padding: 30px;
    width: 100%;
}

.formgroup {
    margin-bottom: 20px;
}

.nome {
    width: 100%;
    padding: 10px;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.emailform {
    width: 100%;
    padding: 10px;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.numerotel {
    width: 100%;
    padding: 10px;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.coment {
    width: 100%;
    height: 300%;
    padding: 10px;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.botform {
    width: 70%;
    background-color: #8a2be2;
    color: white;
    font-size: 16px;
}

.final {
    background-color: #111827;
    margin-left: -0.6%;
    margin-right: -0.6%;
    text-align: center;
    padding: 5px;
    color: white;
}

.final button {
    background-color: #8A2AE2;
}

.final a {
    color: white;
}
/*Estilo de todo o conteúdo da página*/

/*Estilo do footer*/
footer {
    background-color: #111827;
    color: #EFEFEF;
    width: 97.2%;
    margin-left: -0.6%;
    margin-bottom: -0.6%;
    padding: 2%;
    font-size: 85%;
}

.rodape {
    display: flex;
    gap: 3%;
}

.secao1 {
    display: grid;
}

.emailfooter {
    display: flex;
    gap: 10px;
}

.emailfooter img {
    width: 23.34665870666504px;
    height: 33.497379302978516px;
}

.telfooter {
    display: flex;
    gap: 10px;
}

.telfooter img {
    width: 25.37680435180664px;
    height: 21.31651496887207px;
}

.rodapesub {
    display: flex;
    gap: 110%;
}

.gray p {
    color: gray;
}

.pfooter {
    margin-bottom: -2%;
}

.lightgray {
    color: #F3F3F3;
}

.linksfooter a {
    color: gray;
    display: grid;
}
/*Estilo do footer*/
