body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button {
    height: 37px;
    padding: 5px;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
}

/*Estilo da navbar*/
nav {
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.inicio {
    color: #8A2AE2;
}

.logo1 {
    width: 250px;
    height: auto;
}

.botlinksnav {
    display: flex;
    gap: 20px;
}

.linksnav {
    text-align: end;
    font-size: 18px;
    display: flex;
    padding-top: 18px;
    gap: 25px;
}

.botoesnav {
    margin-top: 10px;
}

.botent {
    background-color: #953CE4;
    width: 95px;
    font-size: 18px;
}

.botent a {
    color: white;
}

.botcad {
    background-color: white;
    width: 95px;
    font-size: 18px;
}
/*Estilo da navbar*/

hr {
    border: none;
    height: 2px;
    width: 100%;
    background-color: #EFEFEF;
}

/*Estilo do título e descrição da página*/
.titledesc {
    gap: 5px;
}

.titulo {
    display: flex;
    text-align: left;
    font-size: 35px;
    padding: 0 0 0 45px;
    gap: 10px;
    margin-bottom: -3%;
    margin-top: -2%;
}

.color {
    background-image: linear-gradient(to right, #8A2AE2, #A7BAE2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.descricao {
    font-size: 25px;
    padding: 0 0 0 30px;
    margin-top: 0;
}
/*Estilo do título e descrição da página*/

/*Estilo das opcões de serviços oferecidos*/
.opcoesservs {
    display: flex;
    gap: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 90%;
    text-align: center;
}

.opcoesservs h3 {
    font-size: 120%;
    text-align: center;
}

.opcoesservs h4 {
    font-size: 110%;
    text-align: left;
    margin-top: -2%;
}

.opcoesservs h5 {
    color: #953CE4;
    text-align: left;
    margin-top: 15%;
    margin-bottom: 2%;
}

.pinclui {
    margin-left: 2%;
}

.opcoesservs button {
    width: 100%;
    background-color: #A053E8;
}

.opcoesservs a {
    font-size: 90%;
    color: white;
}

.pinclui {
    text-align: left;
}

.pdesc {
    text-align: center;
}

.secao1 {
    margin-left: 3%;
    width: 400px;
}

.secao2 {
    width: 400px;
}

.secao3 {
    margin-right: 3%;
    width: 400px;
}

.servico1 {
    padding: 5%;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.servico2 {
    padding: 5%;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.servico3 {
    padding: 5%;
    border: 2px solid;
    border-color: #A304FF;
    border-radius: 10px;
    background: linear-gradient(to right, #F0F4FF, white);
}

.botcolor {
    background-image: linear-gradient(to right, #A053E8, #4DB5FF);
}

.servico4 {
    padding: 5%;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.servico5 {
    padding: 5%;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.servico6 {
    padding: 5%;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.imgcasa {
    width: 88.5px;
    height: 99px;
}

.imgluz {
    width: 63px;
    height: 72px;
}

.imgcama {
    width: 89px;
    height: 69px;
}

.imgpasseio {
    width: 45.16px;
    height: 70px;
}

.imgesponja {
    width: 85px;
    height: 82px;
}

.imgpilula {
    width: 72px;
    height: 70px;
}

.servico2 {
    margin-top: 2%;
}

.servico4 {
    margin-top: 2%;
}

.servico6 {
    margin-top: 2%;
}
/*Estilo das opcões de serviços oferecidos*/

/*Estilo dos serviços adicionais*/
.servsadd {
    display: block;
    text-align: center;
}

.satsubt h2 {
    font-size: 200%;
    margin-bottom: -1%;
}

.opcssa {
    margin-bottom: 3%;
    margin-left: 33%;
}

.taxa {
    color: #8A2AE2;
}

.opc1 {
    width: 50%;
    padding: 0.35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.opc2 {
    width: 50%;
    padding: 0.35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.opc3 {
    width: 50%;
    padding: 0.35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}

.opc4 {
    width: 50%;
    padding: 0.35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #D3D3D3;
    border-radius: 10px;
}
/*Estilo dos serviços adicionais*/

/*Estilo da área de "Como funciona"*/
.comofunc {
    display: grid;
    margin-bottom: 3%;
}

.bloco1 {
    text-align: center;
}

.bloco1 h2 {
    font-size: 200%;
    margin-bottom: -1%;
}

.bloco2 {
    display: flex;
    gap: 3%;
}

.bloco2 img {
    width: 150px;
    height: 150px;
}

.bloco2 h5 {
    font-size: 150%;
    margin-bottom: -1%;
}

.sec1 {
    width: 30%;
    text-align: center;
}

.sec2 {
    width: 30%;
    text-align: center;
}

.sec3 {
    width: 30%;
    text-align: center;
}

.sec4 {
    width: 30%;
    text-align: center;
}
/*Estilo da área de "Como funciona"*/

/*Estilo da área "Nossa garantia"*/
.garantia {
    background-image: linear-gradient(to right, #9252E2, #A7BAE2);
    color: white;
    margin-left: -0.6%;
    margin-right: -0.6%;
    display: grid;
    text-align: center;
}

.garantia h2 {
    font-size: 200%;
}

.garantia h3 {
    margin-bottom: -1%;
}

.parts {
    display: flex;
    gap: 3%;
    margin-left: 11%;
    margin-bottom: 3%;
}
/*Estilo da área "Nossa garantia"*/

/*Estilo do footer*/
footer {
    bottom: 0;
    background-color: #111827;
    color: #EFEFEF;
    width: 97.2%;
    margin-left: -0.6%;
    margin-bottom: -0.6%;
    padding: 2%;
    font-size: 85%;
}

.rodape {
    display: flex;
    gap: 3%;
}

.secao1 {
    display: grid;
}

.emailfooter {
    display: flex;
    gap: 10px;
}

.emailfooter img {
    width: 23.34665870666504px;
    height: 33.497379302978516px;
}

.telfooter {
    display: flex;
    gap: 10px;
}

.telfooter img {
    width: 25.37680435180664px;
    height: 21.31651496887207px;
}

.rodapesub {
    display: flex;
    gap: 110%;
}

.gray p {
    color: gray;
}

.pfooter {
    margin-bottom: -2%;
}

.lightgray {
    color: #F3F3F3;
}

.linksfooter a {
    color: gray;
    display: grid;
}
/*Estilo do footer*/